[submodule "TeamCode/src/main/java/org/firstinspires/ftc/teamcode/utils"]
	path = TeamCode/src/main/java/org/firstinspires/ftc/teamcode/utils
	url = https://github.com/RedAlertFTC/utils
[submodule "DogeCV"]
	path = DogeCV
	url = https://github.com/RedAlertFTC/DogeCV.git
